@{
    ViewBag.Title = "About";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Bookish - the best library management service!</h1>
    <p>We will absolutely lose all the information you've given us and demand you return books you never took out!</p>
    <p>You will regret the time you wasted!</p>
</div>
